* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #00ff00;
  font-family: monospace;
  background-color: black;
}

header {
  text-align: center;
  height: 110;
}

h1 {
  font-size: 5em;
  margin: 15px;
}

footer {
  padding: 20px;
  height: 50px;
  text-align: center;
  background-color: black;
}

#main {
  width: 100%;
  display: flex;
  height: 80vh;
  height: calc(100vh - 270px);
}

#participants-window {
  flex: 0 300px;
  overflow: scroll;
}

#message-window {
  flex: 1;
  overflow: scroll;
}

.participant {
  display: flex;
  height: 70px;
  margin: 0 10px 10px 10px;
}

.participant-avatar {
  flex: 0 70px;
}

.participant-info {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.participant-info h3 {
  font-weight: bolder;
  font-size: 30px;
  margin-left: 15px;
  white-space: nowrap;
}

#chat-input {
  width: 100%;
  height: 110px;
  font-family: monospace;
  text-align: center;
  font-size: 1.4em;
  background-color: black;
  color: #00ff00;
  border: none;
  padding: 30px;
  outline: none;
}

/* messages */

.message {
  margin: 10px;
}

.bot-message {
  text-align: left;
}

.human-message {
  text-align: right;
}

.system-message {
  font-size: 1.3em;
  min-height: 30px;
  text-align: left;
  position: relative;
}

.system-message-content {
  position: absolute;
  bottom: 0px;
}

/* bubbles */

.bubble {
  margin: 15px;
  padding: 15px;
  display: inline-block;
  width: 85%;
  border-radius: 15px;
}

.bot-message .bubble {
  text-align: left;
}

.human-message .bubble {
  text-align: left;
}

/* name-tags */

.nametag {
  font-weight: bold;
  font-size: 1.6em;
}

/* chat-text and timestamp */

.message-content {
  margin: 10px 0;
  font-size: 1.5em;
  font-family: sans-serif;
  color: black;
}

.message .timestamp {
  font-size: 1.4em;
  font-weight: bold;
}
